<h1 class='h1 text-center' style='margin-top: 30%; margin-bottom: 30%;'>Transaction Web</h1>

  <div class="fixed-bottom" style='text-align: center'>
    <%= link_to "Login", new_user_session_path, class:'btn btn-primary text-white m-3'%><br>
    <%= link_to "Register", new_user_registration_path, class:'btn btn-primary text-white m-3' %>
  </div>

